.text-updater-node{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.label{
    color: #ccc;
    font-size: 12px;
}

.text-updeter-inner{
    display: flex;
    flex-direction: column;
}